// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=GFS+Didot&family=Inter:wght@300;400;500;700&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&display=swap');
$primary-color: #96deda;

// Then add additional custom code here


body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

nav {
    margin: auto 1.3rem;
}

.hero {
    width: 100%;
    height: 90vh;
    position: relative;
    padding-top: 24vh;
    margin-top: 10vh;

    .container {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // background-color: #e5e5f7;
        // opacity: 0.8;
        // background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 32.5px 32.5px, linear-gradient(#9d9d9f 2.6px, transparent 2.6px) 0 -1.3px, linear-gradient(90deg, #9d9d9f 2.6px, #e5e5f7 2.6px) -1.3px 0;
        // background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;

        .img {
            background-image: url(mf-avatar.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 8.6rem;
            height: 9.5rem;
        }

        .title {
            font-size: 3rem;
            font-weight: bold;
            text-transform: capitalize;
        }

        .subtitle {
            font-size: 2.2rem;
            font-weight: semibold;
        }

    }

   
}

.about {
    width: 100%;
    height: 100vh;
    background-color: #e5e5f7;

}